@model task_4.Models.Entities.Author
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

@Html.DisplayForModel()

<br />

@using (Html.BeginForm("Delete", "Author", FormMethod.Post))
{
    <p>
        <button type="button" class="btn btn-secondary btn-sm">
            <input type="submit" class="btn" value="Delete" />
        </button>
    </p>
}

<br/>

<div>
    <button type="button" class="btn btn-secondary btn-sm">
        <a class="nav-link text-dark" asp-area="" asp-controller="Author" asp-action="Index">Back</a>
    </button>
</div>