@model task_4.Models.Entities.Author
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
@Html.DisplayForModel()

<div>
    <button type="button" class="btn btn-secondary btn-sm">
        <a class="nav-link text-dark" asp-area="" asp-controller="Author" asp-action="Index">Back</a>
    </button>
</div>