@model task_4.Models.Entities.Author
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

@using (Html.BeginForm("Edit", "Author", FormMethod.Post))
{
    <p>
        <label>Имя</label><br />
        @Html.TextBox("FirstName")
    </p>
    <p>
        <label>Фамилия</label><br />
        @Html.TextBox("SecondName")
    </p>
    <p>
        <label>Дата рождения</label><br />
        @Html.TextBox("DateOfBirthday", Model.DateOfBirthday.ToString(), new { type = "date" })
    </p>
    <p>
        <button type="button" class="btn btn-secondary btn-sm">
            <input type="submit" value="Send" class="btn"/>
        </button>
    </p>
}

<br/>

<div>
    <button type="button" class="btn btn-secondary btn-sm">
        <a class="nav-link text-dark" asp-area="" asp-controller="Author" asp-action="Index">Back</a>
    </button>
</div>